

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form {
    margin: 20px auto;
}

h2 {
    text-align: center;
    margin: 20px auto;
}

.btn-default {
    display: block;
    margin: auto;
}

.task-diagram {
    width: 80%;
    margin: 15px auto;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}


.task-diagram-col__value {
    max-width: 100px;
    min-width: 20px;
    max-height: 300px;
    min-height: 10px;    
    transition: all 0.3s;
}

.task-diagram-col__desc {
    max-width: 100px;
    max-height: 50px;
    text-align: center;
}

table {
    width: 90%;
    margin: 20px auto;
}

th , td {
    text-align: center;
    width: 33.33%;
}



 
